<% book.book_comments.each do |book_comment| %>
  <div class="d-flex align-items-center">
    <%= link_to user_path(book_comment.user.id) do %>
      <%= image_tag book_comment.user.get_profile_image, size:"50x50" %><br>
      <%= book_comment.user.name %>
    <% end %>
    <span><%= book_comment.comment %></span>
    <span class="ml-2">
    <% if book_comment.user == current_user %>
      <%= form_with url: book_book_comment_path(book, book_comment), method: :delete, local: false do |f| %>
        <%= f.submit "Destroy", class: "btn btn-danger" %>
      <% end %>
    <% end %>
    </span>
  </div>
<% end %>
<canvas id="myCommentsChart" data-bookcomments="<%= @daily_book_comments.values.reverse.to_json %>"></canvas>

<script>
document.addEventListener('turbolinks:load', () => {
  if (document.getElementById('myCommentsChart') === null || document.getElementById('myCommentsChart').dataset === null) {
    return;
  }
  const data = JSON.parse(document.getElementById('myCommentsChart').dataset.bookcomments);
  window.initializeOrUpdateChart(data);
});

window.initializeOrUpdateChart = function(data) {
  if (window.myBookCommentsChart) {
    window.myBookCommentsChart.destroy();
  }

  if ( document.getElementById('myCommentsChart') ) {
    const ctx = document.getElementById('myCommentsChart').getContext('2d');
    window.myBookCommentsChart = new window.Chart(ctx, {
      type: 'line',
      data: {
        labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
        datasets: [{
          label: '投稿したコメント数',
          data: data,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
          tension: 0.4
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              stepSize: 1
            }
          }
        }
      }
    });
  }
}
</script>
