<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.label :tag %>
    <%= f.text_field :tag, class: 'form-control book_body' %>
  </div>
  <div class="form-group d-flex">
    <%= f.label "Rate" %>
    <div id="post_raty" class="ml-2" data-score="<%= book.score %>" data-readOnly="<%= readOnly %>"></div>
    <%= f.hidden_field :score, id: "score_field" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, id: 'book_address', class: 'form-control' %>
    <%= f.hidden_field :latitude, id: 'book_latitude' %>
    <%= f.hidden_field :longitude, id: 'book_longitude' %>
  </div>
  <div id="nearby_books" data-books='<%= @nearby_books.to_json(only: [:title, :latitude, :longitude], methods: [:book_url, :user_profile_image_url]) %>'></div>
  <div id="map" style="width: 100%; height: 400px;"></div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
  <%= javascript_pack_tag 'map', async: false %>
<% end %>
<script>
  elem = document.querySelector('#post_raty');
  elem.innerHTML = '';
  score = Number(elem.dataset.score);
  readOnly = elem.dataset.readOnly;
  opt = {
    readOnly: readOnly,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    score: score,
    half: false,
    click: function(score, evt) {
      document.querySelector('#score_field').value = score;
    }
  };
  raty(elem,opt);
</script>
